{% extends 'base.html' %}


{% block page_title %}
{{reservation.room}} Reservation: {{reservation.check_in}}
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}


{% block content %}
<div class="container mx-auto my-10 flex flex-col px-20">
    <div class="bg-cover bg-center h-60 rounded-t-lg mt-12"
        style="background-image: url({{reservation.room.first_photo}});">
    </div>
    <div class="py-12 px-5 flex flex-col">
        <div class="border-b border-gray-400 py-5">
            {{reservation.check_in}} - {{reservation.check_out}} <span
                class="{% if reservation.status == 'pending' %}text-blue-600{% elif reservation.status == 'canceled' %} text-red-600 {% else %} text-green-500 {% endif %}">{{reservation.get_status_display}}</span>
        </div>
        <div class="flex py-8 items-center border-b border-gray-400 justify-between">
            <div class="flex">
                <div class="flex flex-col items-center justify-center">
                    {% include 'mixins/link_removed_user_avatar.html' with user_obj=reservation.room.host %}
                    <span class="mt-2 font-light text-gray-500">{{reservation.room.host.first_name}}</span>
                </div>
                <div class="flex flex-col justify-center items-start pl-8">
                    <span class="text-xl">
                        {{reservation.room.name}}
                    </span>
                    {% if reservation.room.host != user %}
                    <a href="{% url 'conversations:go' reservation.room.host.pk reservation.guest.pk%}"
                        class="text-lg text-blue-400 py-3">호스트에게 연락하기</a>
                    {% endif %}
                </div>
            </div>
            <div class="flex justify-end my-8 items-center">

                {% if reservation.status == 'pending' %}
                {% if reservation.room.host == user %}
                <a href="{% url 'reservations:edit' reservation.pk 'confirm' %}"
                    class="font-light text-2xl ml-8 text-gray-100 rounded-md bg-blue-400 p-3">예약 승인</a>
                <a href="{% url 'reservations:edit' reservation.pk 'cancel' %}"
                    class="font-light text-2xl ml-8 text-gray-100 rounded-md bg-gray-400 p-3">예약 거절</a>
                {% else %}
                <a href="{% url 'reservations:edit' reservation.pk 'cancel' %}"
                    class="font-light text-2xl ml-8 text-gray-100 rounded-md bg-gray-400 p-3 w-32 text-center">예약 취소</a>
                <a href="{% url 'rooms:detail' reservation.room.pk %}"
                    class="font-light text-2xl ml-8 text-gray-100 rounded-md bg-blue-400 p-3 w-32 text-center">돌아가기</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="mt-10">
            {% if reservation.status == 'confirmed' and reservation.is_finished and user != reservation.room.host %}
            <div class="flex justify-center items-center">
                <span class="font-light text-3xl mb-6 block">리뷰 작성하기</span>
            </div>
            <div class="flex justify-center">
                <div class="w-3/5">
                    {% include 'mixins/auth/review_form.html' with form=form cta="리뷰 등록" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}