{% extends 'base.html' %}


{% block page_title %}
Sign Up
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}


{% block content %}
<div class="container mx-auto mt-40 flex flex-col items-center border-white border-4 p-6 lg:w-5/12 md:w-1/2 rounded-lg">
    <span class="mb-10 mt-4 text-blue-900 font-light text-4xl	">환영합니다! </span>
    <form action="{% url 'users:sign-up' %}" method="POST" class="w-full">
        {% csrf_token %}


        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
        {% endif %}

        {% for field in form %}
        {% include 'mixins/auth/form_input.html' %}
        {% endfor %}

        <button class="btn border-4 text-yellow-900 font-light text-xl bg-yellow-400 border-white w-full">가입하기</button>
    </form>
    <div class="flex mt-6"><span class="mr-1">계정이 있으신가요? </span> <a class="text-blue-700 underline"
            href="{%url 'users:login'%}"> 로그인</a></div>
</div>

{% endblock content %}