<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <input type="email" placeholder="Email" class="input">
    <input type="password" placeholder="Password" class="input"> -->

    {% for field in form %}
    {% include 'mixins/auth/form_input.html' %}
    {% endfor %}

    <button
        class="btn border-4 text-gray-600 font-light text-xl bg-gray-100 border-white w-full hover:bg-blue-300 hover:text-white transition duration-500 ease-in-out">{{cta}}</button>
</form>