<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- <input type="email" placeholder="Email" class="input">
    <input type="password" placeholder="Password" class="input"> -->

    {% for field in form %}
    <div class="input-box">
        <span class="text-md font-light text-gray-700 inline-block mb-2 ml-2">{{field.label}}</span>
        {{field}}
        <div class="text-red-500 font-normal text-md mb-3">
            {{field.errors}}
        </div>
    </div>
    {% endfor %}

    <button
        class="btn mt-8 border-4 text-gray-600 font-light text-xl bg-gray-100 border-white w-full hover:bg-blue-300 hover:text-white transition duration-500 ease-in-out">{{cta}}</button>
</form>